<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="root" class="container-fluid"><div class="row">
            <nav class="nav flex-column">
                <a class="nav-link" href="/notes">Notes</a></li>
                <a class="nav-link" href="/labels">Labels</a></li>
            </nav>
            <div id="content" class="col-md-8">