<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha256-m/h/cUDAhf6/iBRixTbuc8+Rg2cIETQtPcH9D3p2Kg0=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
        {{#if css}}
        <link rel="stylesheet" href="/styles/{{css}}">
        {{/if}}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8" />
    </head>
    <body>
        <div id="root" class="container-fluid"><div class="row">
            <nav class="nav flex-column">
                <a class="nav-link" href="/notes">Notes</a></li>
                <a class="nav-link" href="/labels">Labels</a></li>
            </nav>
            <div id="content" class="col-md-8">