{{>header.hbs title='Labels'}}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Labels</li>
</ol>
<div class="page-header">
    <h1><i class="fa fa-tags"></i> Labels</h1>
</div>
<div class="list-group">
{{#each labels}}
    <a href="/l/{{slug}}" class="list-group-item"><i class="fa fa-tag"></i> {{slug}}</a>
{{/each}}
</div>
{{>footer.hbs}}