{{>header.hbs title=note.title css='notes.css'}}
<div id="test"></div>
<div data-id="{{note.id}}" data-title="{{note.title}}" data-labels="{{#each note.labels}}{{slug}},{{/each}}" data-body="{{note.body}}" id="note-data"/>
<script type="text/babel" src="/scripts/edit.jsx"></script>
<script type="text/babel" src="/scripts/markup.jsx"></script>
<script type="text/babel" src="/scripts/notes.jsx"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.0/markdown-it.min.js" integrity="sha256-6YhPRj11jVWKrz5aBXa9FqGrmmCoZwNiCtIe1lhgm+M=" crossorigin="anonymous"></script>
<script type="text/babel">
    const noteData = document.getElementById('note-data');
    const note = {
        id: parseInt('0' + noteData.getAttribute('data-id'), 10),
        title: noteData.getAttribute('data-title'),
        body: noteData.getAttribute('data-body'),
        labels: noteData.getAttribute('data-labels')
    };

    ReactDOM.render(<Note note={note}/>, document.getElementById('test'));
</script>
{{>footer.hbs}} 