{{>header.hbs title='Notes'}}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Notes</li>
</ol>
<div class="list-group">
{{#each notes}}
    <a href="/n/{{slug}}" class="list-group-item"><span class="glyphicon glyphicon-book"></span> {{title}}</a>
{{/each}}
</div>
{{>footer.hbs}}