.btn-signin-google { width: 191px; height: 46px; padding: 0; border: 0 }

.navigation-bar-profile { display: inline-block; height: 24px }
.navigation-bar-profile-name { padding-right: 4px }
.navigation-bar-profile-photo { margin: 0; height: 24px }
.profile-photo { border-radius: 100% }