{{>layouts/page title='Join Campaign'}}

{{#*inline "content"}}
{{#if success}}
<div class='alert alert-primary'>
    You have successfully joined the campaign!
</div>
{{else}}
<div class='alert alert-danger'>
    {{#if error}}
    {{error}}
    {{else}}
    We're sorry, but your join request is invalid or cannot be processed at this time.
    {{/if}}
</div>
{{/if}}
{{/inline}}
