{{>layouts/page title='Campaign Settings'}}

{{#*inline "content"}}
<div id='campaign-settings'></div>
<script defer>
    ReactDOM.render(React.createElement(CampaignSettings, {
        campaign: {
            title: '{{campaign.title}}',
            slug: '{{campaign.slug}}',
            visibility: '{{campaign.visibility}}',
        },
        publicURL: '{{config.publicURL}}'
    }, null), document.getElementById('campaign-settings'))
</script>
{{/inline}}