{{>layouts/page title='Campaigns'}}

{{#*inline "content"}}
<div class='list-group'>
{{#each campaigns}}
    <a href='{{this.publicURL}}' class='list-group-item'>
        <div class='list-item-name'><i class='fa fa-file'></i> {{this.title}}</div>
        <div class='list-item-details'>{{this.publicURL}}</div>
    </a>
{{else}}
    <div class='list-group-item'>No campaigns found</div>
{{/each}}
    <div class='list-group-item'>
        <a href='/campaigns/new' class='btn btn-primary'>
            <i class='fa fa-plus'></i> Start New Campaign
        </a>
    </div>
</div>
{{/inline}}