{{>layouts/page title='Notes' page_icon='files-o'}}

{{#*inline "content"}}
<div class='list-group'>
    {{#if canCreate}}
    <div class='list-group-item'>
        <button class='btn btn-primary' onClick='document.location = "/notes/new"'>New Note</button>
    </div>
    {{/if}}
{{#each notes}}
    <a href='/n/{{this.slug}}' class='list-group-item'>
        <div class='list-item-name'><i class='fa fa-file'></i> {{this.title}}</div>
        {{#if this.labels}}<div class='list-item-details comma-separated'>{{note.labels}}</div>{{/if}}
    </a>
{{else}}
    <div class='list-group-item'>No results</div>
{{/each}}
</div>
{{/inline}}