{{#>layouts/page title=title}}

{{#*inline "page_header"}}
{{/inline}}

{{#*inline "content"}}
<div id='react-content'>{{{content}}}</div>
<script>
    ReactDOM.hydrate(React.createElement(Application, {rpc: api}, React.createElement({{component}}, {...{{{json props}}} })), document.getElementById('react-content'))
</script>
{{/inline}}

{{/layouts/page}}