.markdown h1 { font-size: 1.5; font-family: serif; font-weight: bold; margin-bottom: 0.75em; border-bottom: 1px solid #000 }
.markdown h2 { font-size: 1.2; font-family: serif; font-weight: bold; margin-bottom: 0.75em }
.markdown h3 { font-size: 1.0; font-family: serif; font-weight: bold; font-style: italic; margin-bottom: 0.5em }
.markdown h4, .markdown h5, .markdown h6 { font-size: 1.0; font-family: serif; font-weight: bold; margin-bottom: 0.25em }
