.note-lables { text-transform: lowercase }

.note-title { padding: 2px }
.note-subtitle { font-style: italic; margin-bottom: 4px }

.note-body { margin: 1em 0 1em 0; padding: 2px }
.note-body *[contenteditable="true"] { white-space: pre-wrap; font-family: monospace }

.note-page *[contenteditable="true"] { display: block; width: 100%; outline: lightblue solid thin; box-shadow: 0 0 3px darkgrey }
.note-page *[contenteditable="true"]:focus { outline: orange solid thin; box-shadow: 0 0 3px darkgrey }

.note-page .content-editable:empty::before { content: attr(data-placeholder); display: inline; color: grey }

.floating-editbar-container { position: absolute; left: 0; margin-top: 1em; z-index: 1000 }
.floating-editbar { position: fixed; padding-right: 1em; transform: translateX(-100%);  }