.note-lables { text-transform: lowercase }
.note-label::before { content: ", " }
.note-label:first-child::before { content: "" }

.note-title { padding: 2px }

.note-markup { margin: 1em; padding: 2px; white-space: pre-wrap; font-family: monospace }

.note-body { margin: 1em; padding: 2px }
.note-body[contenteditable="true"] { white-space: pre-wrap; font-family: monospace }