html, body { height: 100%; padding: 0; margin: 0 }
#content { height: 100% }
.content-wrapper { height: 100% }

footer { width: 100%; height: 2em; margin-top: -2em; }
.footer-copyright { text-align: center }

.content { position: relative; padding: 4em 0 2em 0; margin: 0 auto 0 auto; max-width: 800px; min-height: 100% }

.nav-link-active { font-weight: bold; }

.list-item-name { font-weight: bold; color: black }
.list-item-subtitle { font-style: italic; color: black }
.list-item-details { font-size: small; color: black }

.comma-separated *::before { content: ", " }
.comma-separated *:first-child::before { content: "" }