#root { padding: 0; margin: 0 }

footer { text-align: center; margin-top: 1em; }

.content-container { margin: 60px auto auto auto; max-width: 800px }

.nav-link-active { font-weight: bold; }

.list-item-name { font-weight: bold; color: black }
.list-item-subtitle { font-style: italic; color: black }
.list-item-details { font-size: small; color: black }

.comma-separated *::before { content: ", " }
.comma-separated *:first-child::before { content: "" }